*{
    margin: 0;
    padding: 0;
}

.navv{
    background-color: black;
    height: 60px;
    display: flex;
    color: white;
    padding: 10px;
    align-items: center;
}

#ll{
    margin-left: 900px;
}

.ss{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

#cc{
    background-color: rgba(90, 98, 106, 0.349);
    height: 100px;
}
.in{
    margin-left: 500px;
    width: 200px;
    outline-style: none;
    height: 22px;
    margin-top: 50px;
}

#cc button{
    height: 26px;
    background-color: black;
    border-style: none;
    color: white;
    width: 57px;
}

.add{
    margin: 10px;
}

.info{
    margin: 30px;
}

@media screen and (max-width: 320px) {


    .navv{
        display: flex;
        width: 690px;
        height: 40px;
    }

    #ll{
        margin-left: 280px;
    }
    #cc{
        width: 700px;
    }
    .in{
        margin-left: 170px;
        width: 200px;
        outline-style: none;
        height: 22px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 376px) {


    .navv{
        display: flex;
        width: 690px;
        height: 40px;
    }

    #ll{
        margin-left: 280px;
    }
    #cc{
        width: 700px;
    }
    .in{
        margin-left: 170px;
        width: 200px;
        outline-style: none;
        height: 22px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 426px) {


    .navv{
        display: flex;
        width: 690px;
        height: 40px;
    }

    #ll{
        margin-left: 280px;
    }
    #cc{
        width: 700px;
    }
    .in{
        margin-left: 170px;
        width: 200px;
        outline-style: none;
        height: 22px;
        margin-top: 50px;
    }
}